[Unit]
Description=$DESCRIPTION
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=$DIR
ExecStart=/home/$USER/.deno/bin/deno task start
Restart=never

[Install]
WantedBy=multi-user.target
