[Unit]
Description=$DESCRIPTION
Wants=network-online.target
After=network-online.target

[Service]
Environment="CUDA_VISIBLE_DEVICES=0"
Type=simple
WorkingDirectory=$DIR
ExecStart=$LLAMACPP_HOME/llama-server --model $MODEL_PATH -ngl 49 --no-webui --port $PORT -mg 0 -c $CONTEXT
Restart=always

[Install]
WantedBy=default.target
